@{
  ViewData["Title"] = "Space Hub | Carrito Espacial";
  ViewData["link1"] = "Pagina Principal";
  ViewData["path1"] = "/";
  ViewData["icon1"] = "home";
  ViewData["link2"] = "Noticias Espaciales";
  ViewData["path2"] = "/posts";
  ViewData["icon2"] = "rocket_launch";
  ViewData["link3"] = "Tienda Espacial";
  ViewData["path3"] = "/items";
  ViewData["icon3"] = "shopping_bag";
}

<link rel="stylesheet" href="~/css/content.css">
<section class="main">
  <section class="content-container">
    <section class="title-container">
      <h3>Carrito espacial <span class="material-symbols-outlined">shopping_cart</span></h3>
    </section>
    <ul class="cart-list"></ul>
    <section class="cart-pay-section">
      <article class="cart-pay-article-data">
        <p class="cart-pay-data cart-pay-title">Resumen de compra</p>
        <p class="cart-pay-data quantity-items">Articulos: 1</p>
        <p class="cart-pay-data subtotal">Subtotal: $23009.00</p>
        <p class="cart-pay-data cart-pay-total">Total: $23009.00</p>
        <button class="cart-pay-btn">Ir a pagar<span class="material-symbols-outlined add-cart-icon-btn">payments</span></button>
      </article>
    </section>
  </section>
</section>
<script src="~/js/cart.js"></script>