header {
  position: relative;
}

.main {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.content-container {
  width: 1200px;
  min-height: 60vh;
  background-color: #ffffff;
  border-radius: 10px;
}

.content-container .material-symbols-outlined {
  color: #131b25;
}

.title-container {
  display: flex;
  gap: 3rem;
  padding: 1.5rem;
  width: min-content;
}

h3 {
  color: #131b25;
  font-size: 28px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
}

.content-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
}

.content-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: #dadada 2px solid;
}

.content-list-item-img {
  width: 100%;
  height: 233px;
  background-color: #f0f0f0;
}

.content-list-item-text-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
}

.content-title {
  font-size: 16px;
  font-weight: 600;
  color: #36393d;
  height: 50px;
}

.list-item {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  gap: 2rem;
  padding: 3rem 0;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.item-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item-div-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1rem 0;
  border-bottom: #dadada 2px solid;
}

.item-title {
  color: #5b6179;
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-price {
  color: #5b6179;
  font-size: 22px;
  font-weight: 600;
}

.open-chat-btn,
.item-link,
.item-detail-add-cart-btn {
  background-color: #f33535;
  color: #ffffff;
  padding: 8px 30px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  border-radius: 10px;
  width: max-content;
  transition: all .4s;
}

.item-link:hover {
  background-color: #db2d2d;
}

.open-chat-btn{
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 2rem;
}
.open-chat-btn .material-symbols-outlined{
  color: #ffffff;
  font-size: 20px;
}

.item-detail-container {
  display: flex;
  justify-content: center;
  margin: 3rem 2rem;
  align-items: center;
  justify-content: space-around;
}

.item-detail-img-div {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.item-detail-img-div img {
  width: 100%;
}

.item-detail-data-container {
  width: 600px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.item-detail-name {
  color: #3c425ed8;
  font-size: 30px;
  font-weight: 600;
}

.item-detail-description {
  color: #3c425ed8;
  font-size: 22px;
}

.item-detail-price {
  color: #3c425ed8;
  font-size: 35px;
}

.item-detail-stock {
  color: #3c425ed8;
  font-size: 20px;
  font-weight: 600;
}

.item-detail-options-div {
  display: flex;
  gap: 1rem;
}

.item-detail-options-btn {
  border: none;
  background-color: #6d6a83d8;
  font-size: 25px;
  font-weight: 600;
  width: 40px;
  border-radius: 5px;
}

.item-detail-options-quantity {
  border: #6d6a83d8 3px solid;
  padding: 5px 30px;
  color: #6d6a83d8;
  font-size: 20px;
  font-weight: 600;
}

/* CART SECTION STYLE */

.item-detail-add-cart-btn {
  border: none;
  padding: 10px;
  width: 300px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.item-detail-add-cart-btn .material-symbols-outlined {
  color: #ffffff;
  font-size: 22px;
}

.item-detail-add-cart-btn:hover {
  background-color: #db2d2d;
}

.cart-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 1rem;
}

.cart-lits-item {
  background-color: #aaaaaa09;
  display: grid;
  grid-template-columns: 100px 300px 150px;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 10px;
  border: #90A1B9 2px solid;
  width: 750px;
}

.cart-empty-text{
  color: #7c7c7c;
  font-weight: 600;
  font-size:18px;
}

.cart-item-description-div {
  width: max-content;
  gap: 4rem;
  display: flex;
}

.cart-image-div {
  width: 100px;
}

.cart-image-div img {
  width: 100%;
}

.cart-description-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-description-text {
  color: #435672;
  font-size: 18px;
  font-weight: 600;
}

.chat-link,
.cart-delete-item-btn,
.cart-pay-btn {
  background-color: #f33535;
  border: none;
  padding: 8px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
}
.cart-delete-item-btn{
  width: max-content;
}
.cart-delete-item-btn .material-symbols-outlined {
  color: #ffffff;
  font-size: 20px;
}

/* CART PAY SECTION STYLE */

.cart-pay-section {
  border-top: #a3a3a3 2px solid;
  width: 850px;
  margin: 4rem auto 4rem auto;
}

.cart-pay-article-data {
  width: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  border-radius: 10px;
  border: #a3a3a3 2px solid;
}

.cart-pay-data {
  color: #435672;
  font-size: 20px;
  font-weight: 600;
}

.cart-pay-title {
  font-size: 25px;
  padding-bottom: 5px;
  border-bottom: #435672c4 2px solid;
  margin-bottom: 10px;
  width: max-content;
}

.cart-pay-total {
  font-size: 25px;
  border-top: #5b6179 2px dashed;
  padding-top: 5px;
}

.cart-pay-btn {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.cart-pay-btn .material-symbols-outlined {
  color: #ffffff;
}

/* ASTRONOMICAL OBJECTS SECTION STYLE */

.object-info-article {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
}

.object-info-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
}

.object-info-img-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.object-info-img-div img {
  width: 100%;
}

.category {
  border-radius: 5px;
  color: #72716a;
  padding: 8px;
  width: max-content;
  background-color: #f0f0f0;
  font-size: 16px;
}

img {
  width: 100px;
}

aside {
  margin-top: 5px;
  width: 25%;
  padding: 1rem;
  background-color: #f8f8f8;
  max-height: fit-content;
}

.aside-title {
  color: #131b25;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: #131b25 2px solid;
  margin-bottom: 2rem;
  width: max-content;
}

.object-info-title {
  font-size: 22px;
  font-weight: 600;
  color: #131b25;
}

.object-info-text,
.sub-title-post,
.created-at {
  font-size: 20px;
  color: #131b25;
}
.object-info-text{
  font-size: 18px;
}

.sub-title-post {
  background-color: #f8f8f8;
  padding: 1rem;
  font-size: 14px;
}

.created-at {
  background-color: #f8f8f8;
  padding: 8px;
  width: max-content;
  margin-bottom: 1rem;
  font-size: 16px;
}

.object-sub-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.object-sub-list-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: #cecece 2px solid;
  padding-bottom: 1rem;
}

.object-sub-list-img-div {
  width: 100%;
}

.object-sub-list-img-div img {
  width: 100%;
  border-radius: 10px;
}

.object-sub-list-title {
  font-size: 16px;
  font-weight: 600;
  color: #131b25;
}

.object-sub-list-link {
  background-color: #f33535;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
}

/* CHAT SECTION STYLE */

.chat-section {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10px;
  padding: 2rem;
  width: 70%;
  min-height: 50vh;
  justify-content: space-between;
  background-color: #ffffff1c;
}

.chat-content-div {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 1rem;
  display: none;
}

.title-chat {
  font-size: 40px;
  text-align: center;
  color: #dadada;
}

.input-chat-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff27;
  padding: 6px 18px;
  border-radius: 10px;
}

.input-chat {
  border: none;
  width: 95%;
  font-size: 16px;
  background-color: #131b2500;
  outline: none;
  color: #64635b;
  font-weight: 500;
}

.input-chat::placeholder {
  color: #cecece;
  font-weight: 100;
}

.send-chat-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.send-chat-btn .material-symbols-outlined {
  color: #cecece;
}

/* PURCHASE SECTION STYLE */

.purchase-section{
  margin: 3rem auto;
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.purchase-title{
  color: #03131b;
  font-size: 22px;
  font-weight: 600;
}
.purchase-subtitle{
  color: #03131b;
  font-size: 18px;
}
.purchase-article{
  border: #a3a3a3 2px solid;
  margin: 2rem auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  text-align: start;
}
.purchase-data-text{
  color: #7c7c7c;
  font-size: 18px;
}
.purchase-subtotal{
  color: #7c7c7c;
  font-size: 18px;
  font-weight: 600;
}
.purchase-total{
  color: #7c7c7c;
  font-size: 22px;
  font-weight: 700;
  border-top: 2px #7c7c7c dashed;
  padding: 8px 0;
}
.purchase-suggestions{
  background-color: #f3f3f3;
  color: #7c7c7c;
  padding: 1rem;
}

/* UTILS SECTIOL STYLE */

.mini-spinner, .medium-spinner{
  padding: 5px;
  border: #ffffff 3px solid;
  border-bottom: #ffffff00 3px solid;
  border-radius: 50px;
  animation: loader 1000ms linear infinite;
}

.medium-spinner{
  padding: 15px;
  border: #00000034 4px solid;
  border-bottom: #ffffff00 4px solid;
  position: absolute;
}

.load-more{
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 8px 30px;
  background-color: #f33535;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all .5s;
}
.load-more:hover{
  background-color: #db2d2d;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden{
  display: none;
}