header{
  position: relative;
  background-color: #131b25;
}
.main{
  display: flex;
  justify-content: center;
  margin: 3rem;
}
.content-container{
  width: 1200px;
  background-color: #ffffffea;
}

.content-container .material-symbols-outlined{
  color: #131b25;
}

.title-container{
  display: flex;
  gap: 3rem;
  padding: 1.5rem;
  width: min-content;
}

h3{
  color: #131b25;
  font-size: 28px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
}

.category-list{
  color: #131b25;
  font-weight: 600;
  padding: 8px;
  background-color: #ececec;
  width: 300px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s;
}
.category-list:hover{
  background-color: #dfdfdf;
}

.content-list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,350px);
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
}

.content-list-item{
  border-bottom: #717182 thin solid;
}
.content-list-item-img{
  width: 100%;
  height: 100%;
}
.content-list-item-text-div{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.content-title{
  font-size: 20px;
  font-weight: 600;
  color: #131b25;
}
.content-text{
  overflow: hidden;
  color: #717182;
  font-size: 18px;
  height: 65px;
}

.article-content-link{
  width: 200px;
}


.list-item{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,300px);
  justify-content: center;
  gap: 2rem;
  padding: 3rem 0;
}
.item{
  display: flex;
  flex-direction: column;
}
.item-image{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.item-div-text{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1rem 0;
  border-bottom: #dadada 2px solid;
}
.item-title{
  color: #5b6179;
  font-size: 20px;
  font-weight: 600;
}
.item-price{
  color: #a3a3a3;
  font-size: 22px;
  font-weight: 600;
}
.item-link{
  background-color: #f33535;
  color: #ffffff;
  padding: 8px 30px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  border-radius: 10px;
  width: max-content;
}