header{
  position: relative;
  background-color: #131b25;
}
.main{
  display: flex;
  justify-content: center;
}
.content-container{
  width: 1200px;
  background-color: #ffffffea;
  margin-top: 5rem;
}

.content-list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,350px);
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
}

.content-list-item{
  border-bottom: #717182 thin solid;
}
.content-list-item-img{
  width: 100%;
  height: 100%;
}
.content-list-item-text-div{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.content-title{
  font-size: 20px;
  font-weight: 600;
  color: #131b25;
}
.content-text{
  overflow: hidden;
  color: #717182;
  font-size: 18px;
  height: 65px;
}

.article-content-link{
  width: 200px;
}