header{
  position: relative;
}

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 2rem;
}

.form-img {
  width: 60%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  gap: 2rem;
  text-align: center;
}
.title{
  font-size: 40px;
  font-weight: 600;
}
.subtitle{
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 450px;
  padding: 2rem;
  border-radius: 10px;
  border: #ffffff 2px solid;
  text-align: center;
  background-color: #7070700c;
}
.form-title{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

input {
  background: none;
  border: none;
  background-color: #ffffff23;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  outline: none ;
}
input::placeholder{
  color: #cecece;
}

button {
  background: none;
  border: none;
  background-color: #f33535;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.redirect-form-text{
  font-weight: 600;
}
.redirect-link{
  color: #f33535;
  font-weight: 600;
}
.error-form{
  color: #ff0000;
}

.mini-spinner{
  padding: 5px;
  border: #ffffff 3px solid;
  border-bottom: #ffffff00 3px solid;
  border-radius: 50px;
  animation: loader 1000ms linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden{
  display: none;
}