header{
  position: relative;
  background-color: #131b25;
}

body {
  background-color: #e2dbbb38;
}
.main {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
  padding: 4rem 1rem;
  background-color: #ffffff;
}

.form-img {
  width: 600px;
  height: 400px;
  background-color: #2a5d69;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}
.title{
  font-size: 45px;
  font-weight: 600;
}
.subtitle{
  font-size: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 450px;
  padding: 2rem;
  border-radius: 10px;
  border: #58585834 2px solid;
  text-align: center;
  background-color: #7070700c;
}
.form-title{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #131b25;
}

input {
  background: none;
  border: none;
  background-color: #00000015;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  color: #131b25;
  outline: none ;
}
input::placeholder{
  color: #646464;
}

button {
  background: none;
  border: none;
  background-color: #f33535;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

.redirect-form-text{
  font-weight: 600;
  color: #131b25;
}
.redirect-link{
  color: #2a5d69;
  font-weight: 600;
}
.error-form{
  color: #ff0000;
}