@{
  ViewData["Title"] = "Space Hub | Objetos astronomicos";
  ViewData["link1"] = "Pagina Principal";
  ViewData["path1"] = "/";
  ViewData["icon1"] = "home";
  ViewData["link2"] = "Objetos Astronomicos";
  ViewData["path2"] = "/astronomical_objects";
  ViewData["icon2"] = "planet";
  ViewData["link3"] = "Noticias Espaciales";
  ViewData["path3"] = "/posts";
  ViewData["icon3"] = "rocket_launch";
}

<link rel="stylesheet" href="~/css/content.css">
<section class="main">
    <section class="chat-section">
      <p class="title-chat">¿En qué puedo ayudarte?</p>
      <div class="chat-content-div">
        <p></p>
        <p></p>
      </div>
      <div class="input-chat-div">
        <input type="text" placeholder="Pregunta lo que quieras" class="input-chat">
        <button class="send-chat-btn"><span class="material-symbols-outlined">send</span></button>
      </div>
    </section>
</section>