@{
  ViewData["Title"] = "Space Hub | Publicaciones";
  ViewData["link1"] = "Pagina Principal";
  ViewData["path1"] = "/";
  ViewData["icon1"] = "home";
  ViewData["link2"] = "Objetos Astronómicos";
  ViewData["path2"] = "/astronomical_objects";
  ViewData["icon2"] = "planet";
  ViewData["link3"] = "Carrito Espacial";
  ViewData["path3"] = "/cart";
  ViewData["icon3"] = "shopping_cart";
}

<link rel="stylesheet" href="~/css/content.css">
<section class="main">
  <section class="content-container">
    <section class="title-container">
      <h3>Tienda Espacial <span class="material-symbols-outlined">shopping_bag</span></h3>
    </section>
    <ul class="list-item"></ul>
  </section>
</section>
<script src="~/js/items.js"></script>