@{
  ViewData["Title"] = "Space Hub | Tienda Espacial";
  ViewData["link1"] = "Pagina principal";
  ViewData["path1"] = "/";
  ViewData["icon1"] = "home";
  ViewData["link2"] = "Tienda Espacial";
  ViewData["path2"] = "/items/section";
  ViewData["icon2"] = "shopping_bag";
  ViewData["link3"] = "Carrito Espacial";
  ViewData["path3"] = "/cart";
  ViewData["icon3"] = "shopping_cart";
}

<link rel="stylesheet" href="~/css/content.css">

<section class="main">
  <section class="content-container">
    <section class="title-container">
      <h3>Tienda Espacial <span class="material-symbols-outlined">shopping_bag</span></h3>
    </section>
    <article class="item-detail-container">
      <div class="item-detail-img-div">
        <div class="medium-spinner"></div>
        <img src="" alt="" class="item-detail-img">
      </div>
      <div class="item-detail-data-container">
        <p class="item-detail-name roboto-content-text"></p>
        <p class="item-detail-description roboto-content-text"></p>
        <p class="item-detail-price"></p>
        <p class="item-detail-stock"></p>
        <div class="item-detail-options-div">
          <button class="item-detail-options-btn add-btn">+</button>
          <p class="item-detail-options-quantity">1</p>
          <button class="item-detail-options-btn less-btn">-</button>
        </div>
        <button class="item-detail-add-cart-btn">Agregar al carrito<span
          class="material-symbols-outlined add-cart-icon">shopping_cart</span>
          <div class="mini-spinner hidden"></div>
        </button>
      </div>
    </article>
  </section>
</section>
<script src="~/js/itemDetail.js"></script>