@{
  ViewData["Title"] = "Space Hub | Publicaciones";
  ViewData["link1"] = "Pagina Principal";
  ViewData["path1"] = "/";
  ViewData["icon1"] = "home";
  ViewData["link2"] = "Objetos Astronómicos";
  ViewData["path2"] = "/astronomical_objects";
  ViewData["icon2"] = "planet";
  ViewData["link3"] = "Carrito Espacial";
  ViewData["path3"] = "/cart";
  ViewData["icon3"] = "shopping_cart";
}

<link rel="stylesheet" href="~/css/content.css">
<section class="main">
  <section class="content-container">
    <section class="title-container">
      <h3>Tienda Espacial <span class="material-symbols-outlined">shopping_bag</span></h3>
    </section>
    <ul class="list-item">
      <li class="item">
        <img src="~/images/items/remera.png" alt="" class="item-image">
        <div class="item-div-text">
          <p class="item-title">Lorem ipsum dolor sit.</p>
          <p class="item-price">$ 32500.00</p>
          <a href="" class="item-link">Ver producto</a>
        </div>
      </li>
      <li class="item">
        <img src="~/images/items/taza-blanca.png" alt="" class="item-image">
        <div class="item-div-text">
          <p class="item-title">Lorem ipsum dolor sit.</p>
          <p class="item-price">$ 32500.00</p>
          <a href="/items/details" class="item-link">Ver producto</a>
        </div>
      </li>
      <li class="item">
        <img src="~/images/items/remera.png" alt="" class="item-image">
        <div class="item-div-text">
          <p class="item-title">Lorem ipsum dolor sit.</p>
          <p class="item-price">$ 32500.00</p>
          <a href="/items/details" class="item-link">Ver producto</a>
        </div>
      </li>
      <li class="item">
        <img src="~/images/items/remera.png" alt="" class="item-image">
        <div class="item-div-text">
          <p class="item-title">Lorem ipsum dolor sit.</p>
          <p class="item-price">$ 32500.00</p>
          <a href="/items/details" class="item-link">Ver producto</a>
        </div>
      </li>
      <li class="item">
        <img src="~/images/items/remera.png" alt="" class="item-image">
        <div class="item-div-text">
          <p class="item-title">Lorem ipsum dolor sit.</p>
          <p class="item-price">$ 32500.00</p>
          <a href="" class="item-link">Ver producto</a>
        </div>
      </li>
      <li class="item">
        <img src="~/images/items/remera.png" alt="" class="item-image">
        <div class="item-div-text">
          <p class="item-title">Lorem ipsum dolor sit.</p>
          <p class="item-price">$ 32500.00</p>
          <a href="" class="item-link">Ver producto</a>
        </div>
      </li>
    </ul>
  </section>
</section>