@{
  ViewData["Title"] = "Space Hub | Registro";
  ViewData["link1"] = "Pagina Principal";
  ViewData["path1"] = "/";
  ViewData["icon1"] = "home";
  ViewData["link1"] = "Objetos Astronomicos";
  ViewData["path1"] = "/astronomical_objects";
  ViewData["icon1"] = "planet";
  ViewData["link3"] = "Tienda Galactica";
  ViewData["path3"] = "/items";
  ViewData["icon3"] = "shopping_bag";
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<section>
  <section class="main">
    <section class="form-img">
      <p class="title roboto-content-text">Tu viaje por el cosmos empieza aquí</p>
      <p class="subtitle roboto-content-text">Crea tu cuenta y forma parte de esta experiencia cósmica, donde cada
        exploración te acerca más a los secretos de las estrellas.</p>
    </section>
    <form action="">
      <p class="form-title">Registro</p>
      <input type="text" placeholder="Nombre completo">
      <input type="email" placeholder="Email">
      <input type="text" placeholder="Usuario">
      <input type="password" placeholder="Contraseña">
      <button>Registrarse</button>
      <p class="redirect-form-text">si ya estas registrado inicia sesión <a href="/login" class="redirect-link">aqui</a>
      </p>
    </form>
  </section>
</section>