@{
  ViewData["Title"] = "Space Hub | Home";
}

<section class="home">
  <section class="hero">
    <div class="cover">
      <div class="hero-text-div">
        <h3>Explora el universo como nunca antes</h3>
        <p class="promise raleway-text">Descubre planetas, estrellas y eventos astronómicos en tiempo real, conversa con
          una IA
          experta en el cosmos y apoya esta misión con estilo.</p>
        <p class="text-hero raleway-text">Tu portal al espacio está aquí: aprende, sorpréndete y forma parte de una
          comunidad que
          mira hacia las estrellas.</p>
      </div>
    </div>
  </section>
  <section class="main-section">
    <section class="sub-section">
      <article class="article-content-text">
        <p class="article-content-title roboto-content-text">Un viaje por los cuerpos celestes que iluminan nuestro
          universo</p>
        <p class="article-content-text-content roboto-content-text">Explora un catálogo de planetas, estrellas,
          satélites y otros cuerpos celestes, con información clara y accesible. Además, un asistente de inteligencia
          artificial está disponible para responder de forma breve y precisa tus dudas sobre el universo.</p>
        <a href="" class="article-content-link">Iniciar Exploracion</a>
      </article>
      <article class="article-content objects">
        <div class="text-section">
          <p class="section-title">Objetos Astronómicos</p>
          <p class="section-subtitle">Explora el catálogo de planetas, estrellas, satélites y otros objetos celestes
            fascinantes</p>
        </div>
      </article>
    </section>
    <section class="sub-section">
      <article class="article-content-text">
        <p class="article-content-title roboto-content-text">Mantente al día con los avances del universo</p>
        <p class="article-content-text-content roboto-content-text">En esta sección encontrarás las últimas noticias
          sobre astronomía y exploración espacial, desde descubrimientos científicos hasta misiones que marcan hitos en
          la historia. Una ventana al presente y futuro de la ciencia que nos acerca cada vez más a las estrellas.</p>
        <a href="" class="article-content-link">Ver Novedades</a>
      </article>
      <article class="article-content posts">
        <div class="text-section">
          <p class="section-title">Noticias Espaciales</p>
          <p class="section-subtitle">Las últimas noticias y descubrimientos del mundo de la astronomía y exploración
            espacial</p>
        </div>
      </article>
    </section>
  </section>
  <section class="item-section">
    <section class="item-section-content">
      <div class="item-text-div">
        <p class="section-title">Tienda Espacial</p>
        <p class="section-subtitle">Ofrecemos un catalogo de articulos como indumentaria y accesorios inspirados en el
          universo, para llevar la pasión por el espacio a la vida cotidiana.</p>
      </div>
    </section>
    <article class="item-content-text-article">
      <p class="article-content-title item-text roboto-content-text">Luce tu estilo con un toque cósmico</p>
      <p class="article-content-text-content item-text roboto-content-text">En esta sección encontrarás artículos
        especialmente diseñados para los amantes del espacio. Desde indumentaria con estampados galácticos hasta
        accesorios que evocan planetas, estrellas y misiones espaciales, cada pieza está pensada para reflejar tu
        conexión con el universo. Más que simples productos, son una forma de expresar tu curiosidad y admiración por lo
        que existe más allá de nuestro mundo.</p>
      <a href="" class="article-content-link">Ver Catalogo</a>
    </article>
  </section>
</section>