@{
  ViewData["Title"] = "Space Hub | Publicaciones";
  ViewData["link1"] = "Pagina Principal";
  ViewData["path1"] = "/";
  ViewData["icon1"] = "home";
  ViewData["link2"] = "Objetos Astronómicos";
  ViewData["path2"] = "/astronomical_objects";
  ViewData["icon2"] = "planet";
  ViewData["link3"] = "Tienda Espacial";
  ViewData["path3"] = "/items/section";
  ViewData["icon3"] = "shopping_bag";
}

<link rel="stylesheet" href="~/css/content.css">
<section class="main">
  <section class="content-container">
    <section class="title-container">
      <h3>Noticias Espaciales <span class="material-symbols-outlined">rocket_launch</span></h3>
    </section>
    <ul class="content-list"></ul>
    <button class="load-more hidden">Mostrar más <div class="mini-spinner hidden"></div></button>
  </section>
</section>
<script src="~/js/posts.js"></script>