@{
  ViewData["Title"] = "Space Hub | Objetos astronomicos";
  ViewData["link1"] = "Pagina Principal";
  ViewData["path1"] = "/";
  ViewData["icon1"] = "home";
  ViewData["link2"] = "Noticias Espaciales";
  ViewData["path2"] = "/posts";
  ViewData["icon2"] = "rocket_launch";
  ViewData["link3"] = "Tienda Espacial";
  ViewData["path3"] = "/items/section";
  ViewData["icon3"] = "shopping_bag";
}

<link rel="stylesheet" href="~/css/content.css">
<section class="main">
  <section class="content-container">
    <section class="title-container">
      <h3>Objetos Astronómicos<span class="material-symbols-outlined">planet</span></h3>
    </section>
    <ul class="content-list"></ul>
  </section>
</section>
<script src="~/js/astronomicalObject.js"></script>