@{
  ViewData["Title"] = "Space Hub | Objetos astronomicos";
  ViewData["link1"] = "Pagina Principal";
  ViewData["path1"] = "/";
  ViewData["icon1"] = "home";
  ViewData["link2"] = "Noticias Espaciales";
  ViewData["path2"] = "/posts";
  ViewData["icon2"] = "rocket_launch";
  ViewData["link3"] = "Tienda Espacial";
  ViewData["path3"] = "/items";
  ViewData["icon3"] = "shopping_bag";
}

<link rel="stylesheet" href="~/css/content.css">
<section class="main">
  <section class="content-container">
    <section class="title-container">
      <h3>Objetos Astronómicos<span class="material-symbols-outlined">planet</span></h3>
      <ul class="category-list">Filtrar por categoria <span class="material-symbols-outlined">keyboard_arrow_down</ul>
    </section>
    <ul class="content-list">
      <li class="content-list-item">
        <div class="content-list-item-img-div">
          <img src="~/images/posts/space-x.jpg" alt="" class="content-list-item-img">
        </div>
        <div class="content-list-item-text-div">
          <p class="content-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos quae ut</p>
          <p class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempore repellat
            perferendis quasi veniam! Similique, natus. Unde saepe tenetur quia officiis nulla nam id! Distinctio
            commodi consectetur doloremque iure at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius,
            exercitationem, iure nemo ea, asperiores laboriosam illum ullam labore quam ad quaerat iste? Vel dolor
            reiciendis eveniet magnam, provident accusantium sunt.</p>
          <a href="" class="article-content-link">Ver publicacion</a>
        </div>
      </li>
      <li class="content-list-item">
        <div class="content-list-item-img-div">
          <img src="~/images/posts/space-x.jpg" alt="" class="content-list-item-img">
        </div>
        <div class="content-list-item-text-div">
          <p class="content-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos quae ut</p>
          <p class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempore repellat
            perferendis quasi veniam! Similique, natus. Unde saepe tenetur quia officiis nulla nam id! Distinctio
            commodi consectetur doloremque iure at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius,
            exercitationem, iure nemo ea, asperiores laboriosam illum ullam labore quam ad quaerat iste? Vel dolor
            reiciendis eveniet magnam, provident accusantium sunt.</p>
          <a href="" class="article-content-link">Ver publicacion</a>
        </div>
      </li>
      <li class="content-list-item">
        <div class="content-list-item-img-div">
          <img src="~/images/posts/space-x.jpg" alt="" class="content-list-item-img">
        </div>
        <div class="content-list-item-text-div">
          <p class="content-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos quae ut</p>
          <p class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempore repellat
            perferendis quasi veniam! Similique, natus. Unde saepe tenetur quia officiis nulla nam id! Distinctio
            commodi consectetur doloremque iure at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius,
            exercitationem, iure nemo ea, asperiores laboriosam illum ullam labore quam ad quaerat iste? Vel dolor
            reiciendis eveniet magnam, provident accusantium sunt.</p>
          <a href="" class="article-content-link">Ver publicacion</a>
        </div>
      </li>
      <li class="content-list-item">
        <div class="content-list-item-img-div">
          <img src="~/images/posts/space-x.jpg" alt="" class="content-list-item-img">
        </div>
        <div class="content-list-item-text-div">
          <p class="content-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos quae ut</p>
          <p class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempore repellat
            perferendis quasi veniam! Similique, natus. Unde saepe tenetur quia officiis nulla nam id! Distinctio
            commodi consectetur doloremque iure at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius,
            exercitationem, iure nemo ea, asperiores laboriosam illum ullam labore quam ad quaerat iste? Vel dolor
            reiciendis eveniet magnam, provident accusantium sunt.</p>
          <a href="" class="article-content-link">Ver publicacion</a>
        </div>
      </li>
      <li class="content-list-item">
        <div class="content-list-item-img-div">
          <img src="~/images/posts/space-x.jpg" alt="" class="content-list-item-img">
        </div>
        <div class="content-list-item-text-div">
          <p class="content-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos quae ut</p>
          <p class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempore repellat
            perferendis quasi veniam! Similique, natus. Unde saepe tenetur quia officiis nulla nam id! Distinctio
            commodi consectetur doloremque iure at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius,
            exercitationem, iure nemo ea, asperiores laboriosam illum ullam labore quam ad quaerat iste? Vel dolor
            reiciendis eveniet magnam, provident accusantium sunt.</p>
          <a href="" class="article-content-link">Ver publicacion</a>
        </div>
      </li>
    </ul>
  </section>
</section>