@{
  ViewData["Title"] = "Space Hub | Objetos astronomicos";
  ViewData["link1"] = "Pagina Principal";
  ViewData["path1"] = "/";
  ViewData["icon1"] = "home";
  ViewData["link2"] = "Noticias Espaciales";
  ViewData["path2"] = "/posts";
  ViewData["icon2"] = "rocket_launch";
  ViewData["link3"] = "Tienda Espacial";
  ViewData["path3"] = "/items";
  ViewData["icon3"] = "shopping_bag";
}

<link rel="stylesheet" href="~/css/content.css">
<section class="main">
  <section class="content-container">
    <article class="object-info-article">
      <section class="object-info-section">
        <p class="object-info-title"></p>
        <p class="category"></p>
        <div class="object-info-img-div"><img src="" alt="" class="image-astronomical-object-info"></div>
        <p class="object-info-text roboto-content-text"></p>
      </section>
      <aside>
        <p class="aside-title">Podria ser de tu interes</p>
        <ul class="object-sub-list"></ul>
      </aside>
    </article>
    <a href="/" class="open-chat-btn">Cahtear con La IA</a>
  </section>
</section>
<script src="~/js/astronomicalObjectInfo.js"></script>